.container {
    max-width: 70%;
    margin: auto;
}
.my_button {
    background-color: #1975c0;
    color: white;
    padding: 12px;
    border-radius: 100px;
    margin-left: 10px;
    cursor: pointer;
}
h4 {
    text-transform: uppercase;
    color: #6b6b6b;
    font-size: 15px;
    margin-bottom: 10px;
}
h2 {
    color: #69bf14;
    margin-bottom: 10px;
    font-size: 30px;
}